<nav class="navbar navbar-expand-lg bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Employee Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/time-keeping/">Chấm Hỏi</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tài khoản
          </a>
          <ul class="dropdown-menu">
            {% if request.user.is_authenticated %}
            <li><a class="dropdown-item" href="/{{request.user.username}}/">Hồ sơ</a></li>
            <li><a class="dropdown-item" href="/logout/">Đăng xuất</a></li>
            {% else %}
            <li><a class="dropdown-item" href="/login/">Đăng nhập</a></li>
            <li><a class="dropdown-item" href="/register/">Đăng ký</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>