{% extends '../layouts/base.html' %}
{% block main %}
<h1 style="text-align:center" class="mb-3">Đăng nhập</h1>
<div class="container" style="display:flex; justify-content:center">
    <form method="POST" style="width:60vw">
        {% csrf_token %}
        {{form_li.as_p}}
        <center>
            <button class="btn btn-info">Đăng nhập</button>
        </center>
    </form>
</div>

<script>
    document.querySelector('.helptext').remove()
    document.querySelector('label[for="id_username"]').remove()
    document.querySelector('label[for="id_password"]').remove()
    const inputs = document.querySelectorAll('input')
    if (inputs) {
        inputs.forEach((input) => {
            input.classList.add('form-control')
        })
    }
    document.querySelector('#id_username').setAttribute('placeholder','Tên Đăng Nhập')
    document.querySelector('#id_password').setAttribute('placeholder', 'Mật Khẩu')
    document.querySelector('#id_password').setAttribute('type', 'password')
</script>
{% endblock %}