{% extends '../layouts/base.html' %}

{% block main %}
<h4>Chấm công ngày {{ date }}</h4>
{% if not request.user.sheet_set.last %}
<h5>Welcome to company</h5>
{% endif %}

{% if request.user.sheet_set.last.date == date and request.user.sheet_set.last.checkout %}
Bựa ni đi mần rè
{% endif %}

<form method="POST">
    {% csrf_token %}
    <input hidden name="check" value="">
    {% if request.user.sheet_set.last.date == date and not request.user.sheet_set.last.checkout %}
    <button btn-check class="btn btn-info" type="button" value="out">Check Out</button>
    {% endif %}
    {% if request.user.sheet_set.last.date != date %}
    <button btn-check class="btn btn-info" type="button" value="in">Check In</button>
    {% endif %}
</form>

{% load static %}
<script src="{% static 'time_keeping.js' %}"></script>

{% endblock %}